// Couleurs principales
$white: #FFFFFF;
$black: #000000;
$blue-primary: #007B9A;
$blue-secondary: #0A819B;
$gray-light: #E0E0E0;
$gray-medium: #CCCCCC;
$gray-dark: #333333;

// Autres nuances utilisées
$blue-accent-1: #0D6377;
$blue-accent-2: #0F95A4;
$blue-accent-3: #117E88;
$blue-accent-4: #11B6CA;
$blue-accent-5: #129FB1;
$blue-accent-6: #69C7D3;

// Transparence (si applicable, précise ton usage)
$black-opacity-17: rgba(0, 0, 0, 0.17);
$black-opacity-19: rgba(0, 0, 0, 0.19);


//police
